body {
  margin: 0;
  font-family: "Arimo", sans-serif;
}

a {
  text-decoration: 0;
  color: black;
  transition: all .2s linear;
}

ul {
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

li {
  list-style: none;
  margin-right: 25px;
  font-size: 32px;
  font-weight: 600;
}


a:hover {
  font-size: 36px;
  color: #4d5032;
}

li:last-child {
  margin-right: 0;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f7ff99;
  border-radius: 60px;
}

.foot {
  text-align: center;
  background-color: #f7ff99;
  border-radius: 60px;
  position: fixed;
  width: 80%;
  bottom: 0;
  text-align: center;
}

.foot p {
  padding: 5px 0;
}

.logo img {
  max-width: 200px;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.stranica {
  padding-bottom: 75px;
}


.main {
  margin: 50px 50px;
}

.video {
  float: left;
  margin-right: 25px;
}

.main .text {
  font-size: 24px;
}

.films {
  text-align: center;
}

.tablica {
  text-align: center;
  margin-top: 25px;
  font-size: 24px;
}

table {
  margin: 0 auto;
  border: 1px black solid;
  border-bottom: none;
}

.tablica table th {
  border-bottom: 1px black solid;
  border-right: 1px black solid;
  ;
}

.tablica table th:last-child {
  border-right: none;
}

.tablica table td {
  border-bottom: 1px black solid;
  border-right: 1px black solid;
  ;
}

.tablica table td:last-child {
  border-right: none;
}
